
#home .head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content{
    text-align: center;
}

.content p{
    margin: 10px;
}

.content h3{
    text-transform: uppercase;
}

.labells{
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.err{
    color: red;
}